@charset "UTF-8";
.caja-responsive {
  background-color: white; }

html {
  font-size: 13px; }

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #2A2A33; }

h1,
a:hover {
  text-decoration: none; }

.bg-secundary {
  background-color: #1B5098; }

.bg-contenedor {
  background-color: #F9F9FB; }

.text-primary {
  color: #006AFF; }

.text-secundary {
  color: #1B5098; }

.btn {
  border-radius: .8rem;
  padding: .6rem 1rem;
  font-weight: bold; }

.btn-primary {
  color: #fff;
  background-color: #006AFF;
  border-color: #006AFF;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.btn-danger {
  color: #fff;
  background-color: #f70808;
  border-color: #f70808;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.btn-primary::before,
.btn-danger::before {
  content: "";
  z-index: -1;
  width: 0;
  height: 100%;
  background: #006AFF;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: skew(45deg, 0);
          transform: skew(45deg, 0);
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.btn-danger::before {
  background: #f70808; }

.btn-primary:hover {
  background-color: #95cff0 !important; }

.btn-danger:hover {
  background-color: white !important; }

.btn-primary:hover::before {
  width: 150%;
  left: -30%; }

.btn-danger:hover::before {
  width: 150%;
  left: -30%; }

.btn-primary:active {
  background-color: #006AFF !important;
  border-color: #006AFF; }

.btn-danger:active {
  background-color: #f70808 !important;
  border-color: #f70808; }

.btn-primary:focus {
  color: #fff;
  background-color: #006AFF;
  border-color: #006AFF;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }

.btn-danger:focus {
  color: #fff;
  background-color: #f70808;
  border-color: #f70808;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }

.logo {
  font-family: 'Courgette', cursive; }

/*Estilos boton menu personalizado*/
#nav-main .icon-menu:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f0c9";
  font-weight: 900;
  color: #fff;
  font-size: 2rem; }

#nav-main .icon-close:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f00d";
  position: relative;
  font-weight: 900;
  color: #fff;
  left: .2rem; }

button.navbar-toogler {
  margin: 0px;
  padding: 0px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: #1B5098;
  color: white; }

button.navbar-toogler:hover,
button.navbar-toogler:visited,
button.navbar-toogler:focus {
  border: #1B5098;
  outline: none; }

#nav-main .btn-menu::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f00d';
  font-weight: 900;
  font-size: 2rem; }

.navbar-nav .nav-link {
  color: #d6d3d3;
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: .5rem; }

.navbar-nav .nav-link::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f105';
  font-weight: 900;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.navbar-nav .nav-link:hover {
  color: white;
  background-color: #95cff0; }

.navbar-nav .nav-link:hover::after {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg); }

.navbar-nav .nav-link.active {
  color: white;
  background-color: #006AFF; }

.parallax-efect {
  width: 100%;
  height: 100vh;
  background-image: url("../images/parallax_inicio.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10; }

.parallax-efect::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 3, 5, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.box-search {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 30px;
  padding-bottom: 15px;
  margin-top: -9px;
  border-radius: 3px; }

/* Search Type Buttons*/
.type-searchs {
  display: inline-block;
  padding-bottom: 35px;
  position: relative; }

.type-searchs input[type="radio"] {
  display: none; }

.type-searchs label {
  background-color: #006AFF;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 9px 18px;
  margin: 0 15px 0 0;
  float: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 3px; }

.type-searchs label:hover {
  background-color: #95cff0;
  color: white; }

.type-searchs label.active {
  background-color: white;
  color: #333; }

.search-figure {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate3d(3px, 0, 0);
          transform: translate3d(3px, 0, 0); }

.custom-select {
  height: 3.5rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='blue' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"); }

div.more-options:before {
  position: absolute;
  top: -10px;
  width: 94%;
  content: "";
  background-color: #fff;
  height: 10px;
  display: inline-block;
  z-index: 101; }

/* Trigger */
.more-less-trigger {
  font-size: 18px;
  margin: 5px 0 2px 0;
  display: inline-block; }

.more-less-trigger:after {
  content: attr(data-open-title); }

.more-less-trigger.active:after {
  content: attr(data-close-title); }

.more-less-trigger:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f884";
  font-weight: 900;
  padding-right: 7px; }

.more-less-trigger.active:before {
  content: ""; }

.widget .more-less-trigger {
  font-size: 16px; }

/* More Options
------------------------------------- */
.more-options {
  opacity: 0;
  visibility: hidden;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 30px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  z-index: 19;
  -webkit-transform: translate3d(0, -20px, 0);
          transform: translate3d(0, -20px, 0); }

.more-options.relative {
  position: relative;
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: none;
  transition: none;
  display: none; }

.more-options.relative.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.more-options.relative .more-options-container {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  margin: 20px 0 5px 0; }

.more-options:before {
  position: absolute;
  top: -10px;
  width: 100%;
  content: "";
  background-color: #fff;
  height: 10px;
  display: inline-block;
  z-index: 101; }

.more-options.relative:before {
  display: none; }

.more-options.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0); }

.more-options-container {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  padding: 30px 30px 25px 30px;
  padding-top: 0;
  border-radius: 0 0 3px 3px; }

#favoritos .icon-left:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f105";
  font-weight: 900;
  color: #006AFF;
  font-size: 3rem; }

#favoritos .icon-down:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f107";
  position: relative;
  font-weight: 900;
  font-size: 3rem;
  color: #006AFF;
  left: .2rem; }

.box-label {
  position: absolute;
  top: 0;
  z-index: 999;
  right: 0;
  width: 100%;
  display: block;
  font-size: 13px;
  padding: 0px;
  overflow: hidden;
  height: 100px;
  z-index: 0; }

.label-sale {
  background-color: rgba(239, 15, 24, 0.85);
  color: #fff;
  float: left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -67px;
  top: 17px;
  position: relative;
  text-align: center;
  width: 200px;
  font-size: 12.5px;
  margin: 0; }

.thre-points,
.see-more {
  position: absolute;
  left: 85%;
  top: 5%;
  background-color: transparent;
  border: 0px;
  color: #006AFF;
  padding: 0 3px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10; }

.see-more {
  left: 85%;
  top: 55%; }

.see-more:hover {
  color: #1B5098; }

#destacados .card-body {
  border-bottom: 1px solid #006AFF; }

.owl-prev,
.owl-next {
  cursor: pointer; }

#destacados .card-body a {
  text-decoration: none; }

#destacados .thre-points:hover,
#destacados .thre-points::-moz-selection {
  color: #1B5098 !important; }

#destacados .thre-points:hover,
#destacados .thre-points::selection {
  color: #1B5098 !important; }

#destacados p:hover {
  color: black !important; }

#destacados span.text-muted:hover {
  color: black !important;
  font-weight: bold; }

#destacados .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: 0;
  border-right: 0 transparent;
  border-bottom: 0;
  border-left: 0 solid transparent; }

#destacados .dropdown-toggle {
  left: 85%;
  top: 5%; }

#destacados .dropdown-menu {
  background-color: #1B5098; }

#destacados .dropdown-item {
  color: white; }

#destacados .dropdown-item:hover {
  background-color: #95cff0;
  border-radius: .5rem; }

.box-service {
  height: 15rem;
  border-bottom: 1px solid #006AFF;
  border-right: 1px solid #006AFF; }

#servicios div a {
  text-decoration: none; }

#grid-prop-agent .card-box {
  border-top: 2px solid #006AFF;
  border-bottom: 0;
  border-left: 0;
  border-right: 0; }

#card-pro-agent .card-body {
  border: 1px solid white !important;
  overflow: hidden; }

.parent {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.parent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 1; }

.child {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover; }

.child span {
  color: white;
  font-family: sans-serif;
  padding-left: 0;
  padding-top: 0;
  position: absolute; }

.parent:hover .child,
.parent:focus .child {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 1000; }

.parent:hover span,
.parent:focus span {
  padding-top: 40%;
  padding-left: 20%;
  font-size: 1.5rem;
  z-index: 10; }

.child::before {
  content: "";
  z-index: 5;
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(42, 65, 94, 0.5); }

.parent:hover .child:before,
.parent:focus .child:before {
  display: block; }

#articulos .card-footer {
  border-top: 1px solid #006AFF; }

.columna-inclinada::before {
  content: "";
  position: absolute;
  background: #006AFF;
  top: 0;
  bottom: 0;
  left: -100%;
  right: -100%; }

.enlaces-secundario {
  border-bottom: 2px solid #006AFF; }

.enlaces-secundario a {
  padding: 1rem;
  color: black;
  text-decoration: none;
  display: block; }

/*Estilos para IE11*/
.ie11 .navbar-dark .navbar-nav .nav-link::after {
  display: block; }

.modal-content {
  background-color: #1B5098;
  color: white; }

#logueo .icon-eye:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f06e";
  font-weight: 900;
  color: #fff;
  font-size: 1rem; }

#logueo .icon-eye-slash:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f070";
  position: relative;
  font-weight: 900;
  color: #fff;
  font-size: 1rem; }

@media (min-width: 576px) {
  section#litle-bar {
    height: 54px; }

  .caja-responsive {
    background-color: red; }

  div.more-options:before {
    width: 94.5%; } }
@media (min-width: 768px) {
  .navbar-nav .nav-link::after {
    content: ''; }

  .navbar-nav .nav-link {
    padding: .5rem 1rem; }

  .caja-responsive {
    background-color: green; }

  .thre-point {
    left: 85%;
    top: 40%;
    font-size: 2.5rem; }

  .see-more {
    left: 85%;
    top: 46%; }

  .columna-inclinada::before {
    left: -300%;
    right: 0;
    -webkit-transform: skewX(20deg);
            transform: skewX(20deg); }

  div.more-options:before {
    width: 94%; }

  nav#nav-main .nav-link {
    color: white;
    border-radius: .8rem;
    padding: .6rem 1rem;
    font-weight: bold;
    background-color: #006AFF;
    border-color: #006AFF;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    margin-left: .5rem;
    margin-right: .5rem; }

  nav#nav-main .nav-link::before {
    content: "";
    z-index: -1;
    width: 0;
    height: 100%;
    background: #006AFF;
    position: absolute;
    top: 0px;
    left: 50%;
    -webkit-transform: skew(45deg, 0);
            transform: skew(45deg, 0);
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }

  nav#nav-main .nav-link:hover {
    background-color: white !important;
    color: white !important; }

  nav#nav-main .nav-link:hover::before {
    width: 150%;
    left: -30%; }

  nav#nav-main .nav-link.active {
    color: #006AFF;
    background-color: White;
    border-bottom: 2px solid #006AFF;
    border-top: 2px solid #006AFF; } }
@media (min-width: 992px) {
  .caja-responsive {
    background-color: blue; }

  .see-more {
    left: 85%;
    top: 44%; }

  div.more-options:before {
    width: 95.1%; } }
@media (min-width: 1200px) {
  .caja-responsive {
    background-color: aqua; }

  div.more-options:before {
    width: 96.1%; } }
/*# sourceMappingURL=estilos.css.map */