// .row>*{
// border: 1px solid red;
// }
.caja-responsive{
    background-color: white;
}

//+++++++++++++++++++++++++++
// patrones de colores
//+++++++++++++++++++++++++++

$color-principal: #006AFF;
$color-secundario: #1B5098;
$color-texto: #2A2A33;
$color-contenedor: #F9F9FB;
$color-celeste:  rgb(149, 207, 240);
$color-muted: #6c757d;

$color-boton-normal: $color-principal;
$color-boton-active: $color-principal;
$color-boton-hover: $color-celeste;

//+++++++++++++++++++++++++++
// tipografia del sitio
//+++++++++++++++++++++++++++

html{
    font-size: 13px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: $color-texto;
    height: 10000px;
}
.bg-secundary{
    background-color: $color-secundario;
}


.text-primary{
    color: $color-principal;
} 

.text-secundary{
    color: $color-secundario;
}

// estilos generales para los botones
.btn{
    border-radius: .8rem;
    padding: .6rem 1rem;
    font-weight: bold;
}
.btn-primary {
    color: #fff;
    background-color: $color-boton-normal;
    border-color: $color-boton-normal;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all .5s ease;
}

// efectos de caja para los botones
.btn-primary::before{
    content: "";
    z-index: -1;
    width: 0;
    height: 100%;
    background: $color-boton-active;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: skew(45deg,0);
    transition: all .5s ease;

}


.btn-primary:hover {
    background-color: $color-boton-hover !important;
}

.btn-primary:hover::before {
    width: 150%;
    left: -30%;
}
.btn-primary:active{
    background-color: $color-boton-active !important;
    border-color: $color-boton-active;
}

.btn-primary:focus {
    color: #fff;
    background-color: $color-boton-normal;
    border-color: $color-boton-normal;
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
}




//+++++++++++++++++++++++++++
// 1 litle-bar
//+++++++++++++++++++++++++++
.logo{
    font-family: 'Courgette', cursive;
}


//+++++++++++++++++++++++++++
// 2 navbar
//+++++++++++++++++++++++++++

/*Estilos boton menu personalizado*/

#nav-main .icon-menu:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f0c9";
    font-weight: 900;
    color: #fff;
    font-size: 2rem;
}

#nav-main .icon-close:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f00d";
    position: relative;
    font-weight: 900;
    color: #fff;
    left: .2rem;
}


button.navbar-toogler {
    margin: 0px;
    padding: 0px;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: $color-secundario;
    color: white;
}

button.navbar-toogler:hover,
button.navbar-toogler:visited,
button.navbar-toogler:focus{
    border: $color-secundario;
    outline: none;
    }


//estilos del boton menu para movil personalizado
#nav-main .btn-menu::before{
    font-family: 'Font Awesome 5 Free';
    content: '\f00d';
    font-weight: 900;
    font-size: 2rem;
}

.navbar-nav .nav-link {
   color: rgb(214, 211, 211);
   padding: 1rem 1.5rem;
   display: flex;
   justify-content: space-between;
   transition: all .5s ease;
   border-radius: .5rem;
}

.navbar-nav .nav-link::after {
   font-family: 'Font Awesome 5 Free';
   content: '\f105';
   font-weight: 900;
   transition: all .5s ease;
 }

 .navbar-nav .nav-link:hover {
     color: white;
     background-color: $color-celeste;
  }

  .navbar-nav .nav-link:hover::after {
    transform: rotateZ(180deg);
 }
 
 .navbar-nav .nav-link.active {
    color: white;
    background-color: $color-principal;

 }

//+++++++++++++++++++++++++++
// section parallax
//+++++++++++++++++++++++++++

// oscurecemos la imagen de la seccion
#pantalla-inicio{
    position: relative;
}

#pantalla-inicio::before{
    content: "";
    position: absolute;
    background-color: rgba(38,143,255,.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


//+++++++++++++++++++++++++++
// section favoritos
//+++++++++++++++++++++++++++



#favoritos .icon-left:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f105";
    font-weight: 900;
    color:$color-principal;
    font-size: 3rem;
}

#favoritos .icon-down:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
    position: relative;
    font-weight: 900;
    font-size: 3rem;
    color: $color-principal;
    left: .2rem;
}

//+++++++++++++++++++++++++++
// section destacados 
//+++++++++++++++++++++++++++
.box-label {
    position: absolute;
    top: 0;
    z-index: 999;
    right: 0;
    width: 100%;
    display: block;
    font-size: 13px;
    padding: 0px;
    overflow: hidden;
    height: 100px;
    z-index: 0;
}

.label-sale{
        background-color: rgba(239, 15, 24,.5);
        color: #fff;
        float: left;
        transform: rotate(-45deg);
        left: -67px;
        top: 17px;
        position: relative;
        text-align: center;
        width: 200px;
        font-size: 12.5px;
        margin: 0;
}

.thre-points,
.see-more {
    position: absolute;
    left: 85%;
    top: 5%;
    background-color: transparent;
    border: 0px;
    color: white;
    padding: 0 3px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

.see-more{
    left: 85%;
    top: 55%;
}
.see-more:hover{
    color: $color-secundario;
}

#destacados .card-body{
    border-bottom: 1px solid $color-principal;
}
.owl-prev,
.owl-next{
    cursor: pointer;
}

#destacados .card-body a{
    text-decoration: none;  
}

#destacados .thre-points:hover,
#destacados .thre-points::selection{
    color: $color-secundario !important; 
}



#destacados h4:hover{
    
    color: black !important;
}

#destacados span.text-muted:hover{
    color: black !important;
    font-weight: bold;

}

//droptown de menu tres puntos
#destacados .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right:0 transparent;
    border-bottom: 0;
    border-left: 0 solid transparent;
}

#destacados .dropdown-toggle {
    left: 85%;
    top: 5%;
}


#destacados  .dropdown-menu{
background-color: $color-secundario;
}

#destacados .dropdown-item{
    color: white;
    
}

#destacados .dropdown-item:hover{
    background-color: $color-celeste;
    border-radius: .5rem;
}



//+++++++++++++++++++++++++++
// seccion servicios
//+++++++++++++++++++++++++++




//+++++++++++++++++++++++++++
// modal search
//+++++++++++++++++++++++++++

.modal-content {
    background-color: $color-secundario;
    color: white;
}



















//+++++++++++++++++++++++++++
// media query
//+++++++++++++++++++++++++++
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) {
   // corrige el error en responsive
    section#litle-bar{
        height: 54px;
    }
    .caja-responsive{
        background-color: red;
    }

    .modal-content {
       
       
    }
}

// Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) {

    .navbar-nav .nav-link::after {
        content: '';
      }

    .navbar-nav .nav-link {
        padding: .5rem 1rem;
      }

    .caja-responsive{
        background-color:green;
    }
   
    .thre-point{
        left: 85%;
        top: 40%;
        font-size: 2.5rem;
    }

    .see-more{
        left: 85%;
        top: 46%;
    }
    
 }

// Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) {
    
    .caja-responsive{
        background-color: blue;
    }
    .see-more{
        left: 85%;
        top: 44%;
    }
 }

// Extra large (xl) devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .caja-responsive{
        background-color: aqua;
    }


 }